.activities {
  padding-bottom: 94px;
}

.activities-list {
  display: flex;
  justify-content: space-between;

  h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    color: $white-title-color;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    @extend %smallTitle;
  }
}

.activities-list-item {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}
