.adventages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $secondary-bgc;
}

.advantages-list-item h3 {
  margin-bottom: 10px;
  @extend %smallTitle;
}

p {
  line-height: 1.7;
}

@media screen and (max-width: 767px) {
  .advantages-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  h3 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-list-item {
    width: 354px;
  }

  .advantages-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .advantages-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .advantages-list {
    display: flex;
  }

  .advantages-list-item {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
