.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.client {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  transition-property: border;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}

.company-logo {
  fill: #afb1b8;

  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover .company-logo,
.client:focus .company-logo {
  fill: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .clients-list-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list-item {
    width: 210px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .clients-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .clients-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: 226px;
  }
}

@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-list-item {
    width: 170px;
  }

  .clients-list {
    justify-content: space-between;
  }
}
