footer {
  background-color: $footer-bgc;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    margin-bottom: 20px;

    .part-second {
      color: #fff;
    }
  }

  .map {
    display: block;
    color: $white-title-color;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
    margin-bottom: 8px;
  }

  .footer-contacts-list {
    display: block;

    .footer-contacts-item {
      color: rgba(255, 255, 255, 0.6);
      font-size: inherit;
      line-height: 1.7;
      font-style: normal;
      text-decoration: none;
    }

    .footer-contacts-list-item {
      display: flex;
      flex-direction: column;
      &:first-child {
        margin-bottom: 8px;
      }
    }
  }
}

.join,
.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  b {
    color: $white-title-color;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .sm-list-item-icon {
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      background-color: $additional-color;
    }

    .item-icon {
      fill: #fff;
    }
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subscribe-input {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-button {
  &::after {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/icon-send.svg);
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer-contacts {
    margin-bottom: 60px;
  }

  .join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet-top {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet-top {
    margin-bottom: 45px;
  }

  .footer-contacts {
    margin-left: 51px;
  }

  .join {
    margin-right: 74px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts-list-item {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  footer .container {
    display: flex;
  }

  .footer-tablet-top {
    align-items: flex-start;
  }

  .footer-contacts {
    width: 231px;
    margin-right: 69px;
    align-items: flex-start;
  }

  .footer-contacts-list-item {
    &:first-child {
      margin-bottom: 9px;
    }
  }

  .join {
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-right: 94px;
    margin-top: 12px;
  }

  .join-form {
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 12px;
  }

  .subscribe-form {
    flex-direction: row;
    align-items: baseline;
  }

  .subscribe-input {
    margin-right: 12px;
    width: 358px;
  }
}
