.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;

  a {
    color: $black-title-color;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;

    transition-property: color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $additional-color;
    }
  }
}

.active-page {
  position: relative;
  color: $additional-color;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $additional-color;
    border-radius: 2px;
  }
}

.header-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: $primary-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: inherit;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $additional-color;
    }
  }

  .header-contacts-item {
    display: flex;
  }
}

.header-contacts-item a:hover .contact-icon,
.header-contacts-item a:focus .contact-icon {
  fill: $additional-color;
}

.contact-icon {
  fill: $primary-text-color;
  margin-right: 10px;
  height: 16px;
  width: 16px;

  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
    align-items: center;
  }

  .header.container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &.is-open {
      .icon-burger {
        display: none;
      }

      .icon-close {
        display: block;
        transition-property: color;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          fill: $additional-color;
        }
      }
    }
  }

  .icon-close {
    display: none;
  }

  .icon-burger {
    transition-property: color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: $additional-color;
    }
  }

  .menu-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 50;

    padding-top: 60px;
    padding-bottom: 60px;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    a {
      font-size: 18px;
      line-height: 1.17;
    }

    .nav-item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .header-contacts-item:first-child {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    align-items: center;

    &.container {
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }
  .menu-button {
    display: none;
  }

  .menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    margin-right: 84px;
  }

  .header-contacts-item:first-child {
    margin-bottom: 10px;
  }

  .active-page::after {
    bottom: -41px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-right: 305px;
  }

  .header-contacts-list {
    flex-direction: row;
  }

  .header-contacts-item:first-child {
    margin-right: 30px;
  }

  .header-contacts-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active-page::after {
    bottom: -33px;
  }
}

// .header {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .nav {
//   display: flex;

//   a {
//     color: $black-title-color;
//     text-decoration: none;
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     transition-property: color;
//     transition: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//       &:hover, &:focus {
//         color: $additional-color;
//       }
//     }

//   .active-page {
//     position: relative;
//     color: $additional-color;

//     &::after {
//       content: "";
//       position: absolute;
//       bottom: 1px;
//       display: block;
//       width: 100%;
//       height: 4px;
//       background-color: $additional-color;
//       border-radius: 2px;
//     }
//   }

//   .nav-item:not(last-child){
//       margin-left: 50px;
//     }
// }

// /* CONTACTS */

// .contacts {
//   display: inline-flex;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   a {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: $primary-text-color;
//     text-decoration: none;
//     font-weight: 500;
//     font-size: inherit;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     transition-property: color;
//     transition: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     }
// }

// .contacts-container {
//   margin-left: auto;
// }

// .contact-item {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   &:not(last-child) {
//   margin-left: 50px;

//   }

//   a:hover, a:focus {
//   color: $additional-color;
//   }
// }

// .contact-item a:hover .contact-icon,
// .contact-item a:focus .contact-icon {
//   fill: $additional-color;
// }

// .contact-icon {
//   fill: $primary-text-color;
//   margin-right: 10px;
//   height: 16px;
//   width: 16px;

//   transition-property: fill;
//   transition: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
// }
