.portfolio-list-item {
  background-color: $primary-bgc;
  border: 1px solid #eeeeee;
  padding-bottom: 20px;
}

.portfolio-list-item a {
  text-decoration: none;
  transition-property: box-shadow;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item a:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio h2 {
  color: $black-title-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-left: 24px;
}

.portfolio-type {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.9;
  margin-left: 24px;
}

.portfolio-description {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $white-title-color;
  font-size: 18px;
  line-height: 1.56;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.portfolio-list-item a:hover .portfolio-description {
  transform: translateY(0);
}

.portfolio-list-item a:focus .portfolio-description {
  transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio-list-item {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .portfolio-description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list-item {
    width: 370px;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}
