.button-list {
  display: flex;
  flex-wrap: wrap;

  .item:not(:last-child) {
    margin-right: 8px;
  }

  .item {
    margin-bottom: 15px;
  }
}

.portfolio-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  color: $black-title-color;
  background-color: $button-bgc;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px 6px 22px;

  transition-property: background-color, color, box-shadow;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white-title-color;
    background-color: $additional-color;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}

.portfolio-page {
  border-top: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .button-list {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 35px;
  }
}
