.team {
  background-color: $secondary-bgc;

  img {
    margin-bottom: 30px;
  }

  h3 {
    color: $black-title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
  }
}

.our-team-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;

  background-color: $primary-bgc;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .our-team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .our-team-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .our-team-list {
    display: flex;
    justify-content: space-between;
  }
  .our-team-list-item {
    width: 270px;
  }
}
