.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  padding: 10px 0;
  border-radius: 4px;
  border: 1px solid transparent;

  color: $white-title-color;
  background-color: $additional-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}
