
.container{
    padding-right: 15px;
    padding-left: 15px;
    

    @media (min-width:480px) {
        width: 480px;
        margin: 0 auto;
    }

     @media (min-width:768px) {
        width: 768px;
    }

    @media (max-width:1199px){
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (min-width:1200px) {
        width: 1200px;
    }
}