.logo {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 85px;
  padding-bottom: 25px;
  padding-top: 24px;

    .part-first {
        color: $additional-color;
    }
    .part-second {
        color: $black-title-color;
    }
}