.logo {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;

  .part-first {
    color: $additional-color;
  }
  .part-second {
    color: $black-title-color;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
