$primary-text-color: #757575;
$black-title-color: #212121;
$white-title-color: #ffffff;
$additional-color: #2196f3;

$primary-bgc: #ffffff;
$secondary-bgc: #f5f4fa;
$button-bgc: #f5f4fa;
$footer-bgc: #2f303a;
